In [4]:
import numpy as np

import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns

In [5]:
df = pd.read_csv('crashes.csv')

In [33]:
year=[2011,2012,2013,2014,2015,2016,2017,2018,2019,2020]

In [34]:
df

,Crash_Ref_Number,factors_Ref_Number,Condition_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Region,Total_Casualties
0,1,1,1,Property damage only,2001,January,Tuesday,Unknown,0
1,2,2,2,Property damage only,2001,January,Wednesday,Brisbane,0
2,3,3,3,Medical treatment,2001,January,Thursday,Brisbane,1
3,4,4,4,Hospitalisation,2001,February,Thursday,Brisbane,1
4,5,5,5,Property damage only,2001,February,Thursday,Brisbane,0
...,...,...,...,...,...,...,...,...,...
353646,353647,353647,353647,Medical treatment,2020,December,Thursday,South Eastern,1
353647,353648,353648,353648,Hospitalisation,2020,December,Wednesday,South Eastern,1
353648,353649,353649,353649,Hospitalisation,2020,January,Sunday,Southern,1
353649,353650,353650,353650,Minor injury,2020,March,Monday,Southern,1
353650,353651,353651,353651,Hospitalisation,2020,October,Saturday,Southern,1

In [46]:
dict1 = df[df['Crash_Year'].isin(year)].Crash_Ref_Number

In [48]:
crashes=df[df['Crash_Ref_Number'].isin(dict1)]

In [49]:
crashes

,Crash_Ref_Number,factors_Ref_Number,Condition_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Region,Total_Casualties
227555,227556,227556,227556,Medical treatment,2011,January,Wednesday,Brisbane,1
227556,227557,227557,227557,Medical treatment,2011,January,Wednesday,Brisbane,1
227557,227558,227558,227558,Medical treatment,2011,January,Saturday,Brisbane,1
227558,227559,227559,227559,Minor injury,2011,February,Friday,Brisbane,1
227559,227560,227560,227560,Hospitalisation,2011,February,Tuesday,Brisbane,1
...,...,...,...,...,...,...,...,...,...
353646,353647,353647,353647,Medical treatment,2020,December,Thursday,South Eastern,1
353647,353648,353648,353648,Hospitalisation,2020,December,Wednesday,South Eastern,1
353648,353649,353649,353649,Hospitalisation,2020,January,Sunday,Southern,1
353649,353650,353650,353650,Minor injury,2020,March,Monday,Southern,1
353650,353651,353651,353651,Hospitalisation,2020,October,Saturday,Southern,1

In [50]:
crashes.to_csv("crashes_columns_eleminated.csv")

In [51]:
casualties = pd.read_csv('casualties.csv')

In [52]:
casualties

        Crash_Ref_Number  AgeGroup   Gender  RoadUserType
0                      1  17 to 24   Female     Bicyclist
1                      2  30 to 39   Female  Motorcyclist
2                      3  60 to 74   Female        Driver
3                      4  40 to 49     Male  Motorcyclist
4                      5  30 to 39   Female     Passenger
...                  ...       ...      ...           ...
427097            427098   0 to 16   Female     Passenger
427098            427099  60 to 74  Unknown        Driver
427099            427100  50 to 59     Male  Motorcyclist
427100            427101   Unknown   Female     Passenger
427101            427102  60 to 74     Male    Pedestrian

[427102 rows x 4 columns]

In [53]:
casualties_a=casualties[casualties['Crash_Ref_Number'].isin(dict1)]

In [54]:
casualties_a

        Crash_Ref_Number  AgeGroup  Gender  RoadUserType
227555            227556  25 to 29    Male  Motorcyclist
227556            227557  30 to 39  Female     Passenger
227557            227558  25 to 29  Female    Pedestrian
227558            227559  40 to 49  Female  Motorcyclist
227559            227560  60 to 74  Female     Passenger
...                  ...       ...     ...           ...
353646            353647  50 to 59    Male        Driver
353647            353648  30 to 39  Female        Driver
353648            353649  40 to 49    Male  Motorcyclist
353649            353650   0 to 16    Male     Passenger
353650            353651  50 to 59    Male     Passenger

[126096 rows x 4 columns]

In [55]:
casualties_a.to_csv("casualties_columns_eleminated.csv")

In [56]:
demographics = pd.read_csv('demographics.csv')

In [57]:
demographics

,Crash_Ref_Number,Involving_Male_Driver,Involving_Female_Driver,Involving_Young_Driver_16-24,Involving_Senior_Driver_60plus,Involving_Provisional_Driver,Involving_Overseas_Licensed_Driver,Involving_Unlicensed_Driver,Crashes_Count,Fatalities,Hospitalised_Casualties,MedicallyTreated_Casualties,Casualties_with_MinorInjury
0,1,No,No,No,No,No,No,No,1,1,0,0,0
1,2,No,Yes,No,No,No,No,No,4,4,1,0,0
2,3,No,Yes,No,Yes,No,No,No,2,2,0,0,0
3,4,No,Yes,No,Yes,No,No,Yes,1,1,0,0,0
4,5,No,Yes,No,Yes,Yes,No,No,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330120,353647,Yes,No,Yes,No,No,No,Yes,2,3,3,1,0
330121,353648,Yes,No,Yes,No,Yes,No,No,6,7,4,2,0
330122,353649,Yes,No,Yes,Yes,Yes,No,No,1,1,0,0,0
330123,353650,Yes,Yes,No,No,No,No,No,1,2,1,0,0
330124,353651,Yes,Yes,No,No,No,No,Yes,1,1,0,0,0

In [58]:
demographics_a=demographics[demographics['Crash_Ref_Number'].isin(dict1)]

In [59]:
demographics_a

,Crash_Ref_Number,Involving_Male_Driver,Involving_Female_Driver,Involving_Young_Driver_16-24,Involving_Senior_Driver_60plus,Involving_Provisional_Driver,Involving_Overseas_Licensed_Driver,Involving_Unlicensed_Driver,Crashes_Count,Fatalities,Hospitalised_Casualties,MedicallyTreated_Casualties,Casualties_with_MinorInjury
204029,227556,No,Yes,No,No,No,No,No,2,2,0,0,0
204030,227557,No,Yes,No,Yes,No,No,No,1,1,1,1,0
204031,227558,No,Yes,Yes,No,Yes,No,No,1,1,2,0,0
204032,227559,Yes,No,No,No,No,No,No,14,14,1,0,3
204033,227560,Yes,No,No,Yes,No,No,No,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330120,353647,Yes,No,Yes,No,No,No,Yes,2,3,3,1,0
330121,353648,Yes,No,Yes,No,Yes,No,No,6,7,4,2,0
330122,353649,Yes,No,Yes,Yes,Yes,No,No,1,1,0,0,0
330123,353650,Yes,Yes,No,No,No,No,No,1,2,1,0,0
330124,353651,Yes,Yes,No,No,No,No,Yes,1,1,0,0,0

In [60]:
demographics_a.to_csv("demographics_columns_eleminated.csv")

In [62]:
circumstances_and_conditions = pd.read_csv('circumstances_and_conditions.csv')

In [63]:
circumstances_and_conditions

,Condition_Ref_Number,Crash_Nature,Crash_Type,Crash_Traffic_Control,Count_Unit_Car,Count_Unit_Motorcycle_Moped,Count_Unit_Truck,Count_Unit_Bus,Count_Unit_Bicycle,Count_Unit_Pedestrian,Count_Unit_Other
0,1,Overturned,Single Vehicle,No traffic control,1,0,0,0,0,0,0
1,2,Hit object,Single Vehicle,Operating traffic lights,1,0,0,0,0,0,0
2,3,Hit pedestrian,Hit pedestrian,No traffic control,0,0,1,0,0,1,0
3,4,Rear-end,Multi-Vehicle,No traffic control,2,0,0,0,0,0,0
4,5,Hit object,Single Vehicle,Operating traffic lights,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
353646,353647,Angle,Multi-Vehicle,Give way sign,2,0,0,0,0,0,0
353647,353648,Hit object,Single Vehicle,No traffic control,1,0,0,0,0,0,0
353648,353649,Rear-end,Multi-Vehicle,Operating traffic lights,1,0,1,0,0,0,0
353649,353650,Angle,Multi-Vehicle,Operating traffic lights,2,0,0,0,0,0,0
353650,353651,Angle,Multi-Vehicle,Give way sign,1,1,0,0,0,0,0

In [64]:
circumstances_and_conditions_a=circumstances_and_conditions[circumstances_and_conditions['Condition_Ref_Number'].isin(dict1)]

In [65]:
circumstances_and_conditions_a

,Condition_Ref_Number,Crash_Nature,Crash_Type,Crash_Traffic_Control,Count_Unit_Car,Count_Unit_Motorcycle_Moped,Count_Unit_Truck,Count_Unit_Bus,Count_Unit_Bicycle,Count_Unit_Pedestrian,Count_Unit_Other
227555,227556,Rear-end,Multi-Vehicle,No traffic control,2,0,0,0,0,0,0
227556,227557,Angle,Multi-Vehicle,Operating traffic lights,2,0,0,0,0,0,0
227557,227558,Angle,Multi-Vehicle,Operating traffic lights,2,0,0,0,0,0,0
227558,227559,Angle,Multi-Vehicle,Operating traffic lights,2,0,0,0,0,0,0
227559,227560,Hit object,Single Vehicle,No traffic control,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
353646,353647,Angle,Multi-Vehicle,Give way sign,2,0,0,0,0,0,0
353647,353648,Hit object,Single Vehicle,No traffic control,1,0,0,0,0,0,0
353648,353649,Rear-end,Multi-Vehicle,Operating traffic lights,1,0,1,0,0,0,0
353649,353650,Angle,Multi-Vehicle,Operating traffic lights,2,0,0,0,0,0,0
353650,353651,Angle,Multi-Vehicle,Give way sign,1,1,0,0,0,0,0

In [66]:
circumstances_and_conditions_a.to_csv("circumstances_and_conditions_columns_eleminated.csv")

In [68]:
factors_and_features = pd.read_csv('C:/Users/tanvr/factors_and_features.csv')

In [69]:
factors_and_features

,factors_Ref_Number,Crash_Hour,Crash_Street,City,Main_Roads_Region,Roadway_Feature,Speed_Limit,Road_Surface_Condition,Atmospheric_Condition,Lighting_Condition,Road_Horizontal_Alignment,Crash_Vertical_Alignment
0,1,16,Anderson St,NaN,NaN,No Roadway Feature,60 km/h,Unsealed - Dry,Clear,Daylight,Straight,Level
1,2,17,Beenleigh Rd,Brisbane City,Metropolitan,Intersection - Cross,60 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
2,3,9,Beatty Rd,Brisbane City,Metropolitan,Intersection - T-Junction,0 - 50 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
3,4,7,Hellawell Rd,Brisbane City,Metropolitan,Intersection - T-Junction,60 km/h,Sealed - Wet,Raining,Daylight,Curved - view open,Dip
4,5,11,Boundary Rd,Brisbane City,Metropolitan,Intersection - T-Junction,60 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
...,...,...,...,...,...,...,...,...,...,...,...,...
353646,353647,5,Cuthbert Dr,Gold Coast City,South Coast,Intersection - Roundabout,0 - 50 km/h,Sealed - Wet,Raining,Dawn/Dusk,Curved - view open,Level
353647,353648,9,Black Diamond Cres,Logan City,South Coast,No Roadway Feature,0 - 50 km/h,Sealed - Dry,Clear,Daylight,Curved - view open,Level
353648,353649,11,Guy St,Southern Downs Region,Southern Queensland,Intersection - Cross,60 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
353649,353650,11,Albion St,Southern Downs Region,Southern Queensland,Intersection - Cross,60 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
353650,353651,8,Gore St,Southern Downs Region,Southern Queensland,Intersection - Cross,0 - 50 km/h,Sealed - Dry,Clear,Daylight,Straight,Level

In [70]:
factors_and_features_a=factors_and_features[factors_and_features['factors_Ref_Number'].isin(dict1)]

In [71]:
factors_and_features_a

,factors_Ref_Number,Crash_Hour,Crash_Street,City,Main_Roads_Region,Roadway_Feature,Speed_Limit,Road_Surface_Condition,Atmospheric_Condition,Lighting_Condition,Road_Horizontal_Alignment,Crash_Vertical_Alignment
227555,227556,17,Mt Lindesay Art. Rd,Brisbane City,Metropolitan,No Roadway Feature,60 km/h,Sealed - Dry,Clear,Dawn/Dusk,Straight,Level
227556,227557,9,Beenleigh Rd,Brisbane City,Metropolitan,Intersection - Cross,60 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
227557,227558,20,Compton Rd,Brisbane City,Metropolitan,Intersection - T-Junction,70 km/h,Sealed - Dry,Clear,Darkness - Lighted,Straight,Dip
227558,227559,14,Bradman St,Brisbane City,Metropolitan,Intersection - Cross,70 km/h,Sealed - Dry,Clear,Daylight,Straight,Crest
227559,227560,16,Beenleigh Rd,Brisbane City,Metropolitan,No Roadway Feature,70 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
...,...,...,...,...,...,...,...,...,...,...,...,...
353646,353647,5,Cuthbert Dr,Gold Coast City,South Coast,Intersection - Roundabout,0 - 50 km/h,Sealed - Wet,Raining,Dawn/Dusk,Curved - view open,Level
353647,353648,9,Black Diamond Cres,Logan City,South Coast,No Roadway Feature,0 - 50 km/h,Sealed - Dry,Clear,Daylight,Curved - view open,Level
353648,353649,11,Guy St,Southern Downs Region,Southern Queensland,Intersection - Cross,60 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
353649,353650,11,Albion St,Southern Downs Region,Southern Queensland,Intersection - Cross,60 km/h,Sealed - Dry,Clear,Daylight,Straight,Level
353650,353651,8,Gore St,Southern Downs Region,Southern Queensland,Intersection - Cross,0 - 50 km/h,Sealed - Dry,Clear,Daylight,Straight,Level

In [72]:
factors_and_features_a.to_csv("factors_and_features_columns_eleminated.csv")