In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns

In [17]:
# loading the .csv file.
casualties=pd.read_excel('2_casualties.csv')

In [18]:
casualties.head()

   Crash_Ref_Number Casualty_AgeGroup Casualty_Gender Casualty_RoadUserType
0                 1          17 to 24          Female             Bicyclist
1                 2          30 to 39          Female          Motorcyclist
2                 3          60 to 74          Female                Driver
3                 4          40 to 49            Male          Motorcyclist
4                 5          30 to 39          Female             Passenger

In [20]:
casualties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427102 entries, 0 to 427101
Data columns (total 4 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Crash_Ref_Number       427102 non-null  int64
 1   Casualty_AgeGroup      427102 non-null  object
 2   Casualty_Gender        427102 non-null  object
 3   Casualty_RoadUserType  427102 non-null  object
dtypes: int64(1), object(3)
memory usage: 13.0+ MB

In [21]:
#checking for missing values
casualties.isnull().sum()

Crash_Ref_Number         0
Casualty_AgeGroup        0
Casualty_Gender          0
Casualty_RoadUserType    0
dtype: int64

In [23]:
print(casualties)

        Crash_Ref_Number Casualty_AgeGroup Casualty_Gender  \
0                      1          17 to 24          Female
1                      2          30 to 39          Female
2                      3          60 to 74          Female
3                      4          40 to 49            Male
4                      5          30 to 39          Female
...                  ...               ...             ...
427097            427098           0 to 16          Female
427098            427099          60 to 74         Unknown
427099            427100          50 to 59            Male
427100            427101           Unknown          Female
427101            427102          60 to 74            Male

       Casualty_RoadUserType
0                  Bicyclist
1               Motorcyclist
2                     Driver
3               Motorcyclist
4                  Passenger
...                      ...
427097             Passenger
427098                Driver
427099          Motorcyclist
427100             Passenger
427101            Pedestrian

[427102 rows x 4 columns]

In [24]:
casualties_columns_renamed=casualties.rename(columns={'Casualty_AgeGroup': 'AgeGroup', 'Casualty_Gender':'Gender', 'Casualty_RoadUserType':'RoadUserType'})

In [25]:
print(casualties_columns_renamed)

        Crash_Ref_Number  AgeGroup   Gender  RoadUserType
0                      1  17 to 24   Female     Bicyclist
1                      2  30 to 39   Female  Motorcyclist
2                      3  60 to 74   Female        Driver
3                      4  40 to 49     Male  Motorcyclist
4                      5  30 to 39   Female     Passenger
...                  ...       ...      ...           ...
427097            427098   0 to 16   Female     Passenger
427098            427099  60 to 74  Unknown        Driver
427099            427100  50 to 59     Male  Motorcyclist
427100            427101   Unknown   Female     Passenger
427101            427102  60 to 74     Male    Pedestrian

[427102 rows x 4 columns]

In [26]:
print(casualties)

        Crash_Ref_Number Casualty_AgeGroup Casualty_Gender  \
0                      1          17 to 24          Female
1                      2          30 to 39          Female
2                      3          60 to 74          Female
3                      4          40 to 49            Male
4                      5          30 to 39          Female
...                  ...               ...             ...
427097            427098           0 to 16          Female
427098            427099          60 to 74         Unknown
427099            427100          50 to 59            Male
427100            427101           Unknown          Female
427101            427102          60 to 74            Male

       Casualty_RoadUserType
0                  Bicyclist
1               Motorcyclist
2                     Driver
3               Motorcyclist
4                  Passenger
...                      ...
427097             Passenger
427098                Driver
427099          Motorcyclist
427100             Passenger
427101            Pedestrian

[427102 rows x 4 columns]

In [27]:
casualties_columns_renamed.to_csv("casualties.csv")