In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import matplotlib as mpl
%matplotlib inline
import seaborn as sns

In [4]:
# loading the .csv file.
crashes=pd.read_excel('1_crashes.csv')

In [5]:
crashes.head()

,Crash_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Loc_Police_Region,Count_Casualty_Total
0,1,Property damage only,2001,January,Tuesday,Unknown,0
1,2,Property damage only,2001,January,Wednesday,Brisbane,0
2,3,Medical treatment,2001,January,Thursday,Brisbane,1
3,4,Hospitalisation,2001,February,Thursday,Brisbane,1
4,5,Property damage only,2001,February,Thursday,Brisbane,0

In [6]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353651 entries, 0 to 353650
Data columns (total 7 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Crash_Ref_Number      353651 non-null  int64
 1   Crash_Severity        353651 non-null  object
 2   Crash_Year            353651 non-null  object
 3   Crash_Month           353651 non-null  object
 4   Crash_Day_Of_Week     353651 non-null  object
 5   Loc_Police_Region     353651 non-null  object
 6   Count_Casualty_Total  353651 non-null  int64
dtypes: int64(2), object(5)
memory usage: 18.9+ MB

In [7]:
#checking for missing values
crashes.isnull().sum()

Crash_Ref_Number        0
Crash_Severity          0
Crash_Year              0
Crash_Month             0
Crash_Day_Of_Week       0
Loc_Police_Region       0
Count_Casualty_Total    0
dtype: int64

In [8]:
crashes.rename(columns={'Loc_Police_Region': 'Crash_Region', 'Count_Casualty_Total':'Total_Casualties'})

,Crash_Ref_Number,Crash_Severity,Crash_Year,Crash_Month,Crash_Day_Of_Week,Crash_Region,Total_Casualties
0,1,Property damage only,2001,January,Tuesday,Unknown,0
1,2,Property damage only,2001,January,Wednesday,Brisbane,0
2,3,Medical treatment,2001,January,Thursday,Brisbane,1
3,4,Hospitalisation,2001,February,Thursday,Brisbane,1
4,5,Property damage only,2001,February,Thursday,Brisbane,0
...,...,...,...,...,...,...,...
353646,353647,Medical treatment,2020,December,Thursday,South Eastern,1
353647,353648,Hospitalisation,2020,December,Wednesday,South Eastern,1
353648,353649,Hospitalisation,2020,January,Sunday,Southern,1
353649,353650,Minor injury,2020,March,Monday,Southern,1
353650,353651,Hospitalisation,2020,October,Saturday,Southern,1

In [10]:
print(crashes)

        Crash_Ref_Number        Crash_Severity Crash_Year Crash_Month  \
0                      1  Property damage only       2001     January
1                      2  Property damage only       2001     January
2                      3     Medical treatment       2001     January
3                      4       Hospitalisation       2001    February
4                      5  Property damage only       2001    February
...                  ...                   ...        ...         ...
353646            353647     Medical treatment       2020    December
353647            353648       Hospitalisation       2020    December
353648            353649       Hospitalisation       2020     January
353649            353650          Minor injury       2020       March
353650            353651       Hospitalisation       2020     October

       Crash_Day_Of_Week Loc_Police_Region  Count_Casualty_Total
0                Tuesday           Unknown                     0
1              Wednesday          Brisbane                     0
2               Thursday          Brisbane                     1
3               Thursday          Brisbane                     1
4               Thursday          Brisbane                     0
...                  ...               ...                   ...
353646          Thursday     South Eastern                     1
353647         Wednesday     South Eastern                     1
353648            Sunday          Southern                     1
353649            Monday          Southern                     1
353650          Saturday          Southern                     1

[353651 rows x 7 columns]

In [14]:
crashes_columns_renamed=crashes.rename(columns={'Loc_Police_Region': 'Crash_Region', 'Count_Casualty_Total':'Total_Casualties'})

In [15]:
print(crashes_columns_renamed)

        Crash_Ref_Number        Crash_Severity Crash_Year Crash_Month  \
0                      1  Property damage only       2001     January
1                      2  Property damage only       2001     January
2                      3     Medical treatment       2001     January
3                      4       Hospitalisation       2001    February
4                      5  Property damage only       2001    February
...                  ...                   ...        ...         ...
353646            353647     Medical treatment       2020    December
353647            353648       Hospitalisation       2020    December
353648            353649       Hospitalisation       2020     January
353649            353650          Minor injury       2020       March
353650            353651       Hospitalisation       2020     October

       Crash_Day_Of_Week   Crash_Region  Total_Casualties
0                Tuesday        Unknown                 0
1              Wednesday       Brisbane                 0
2               Thursday       Brisbane                 1
3               Thursday       Brisbane                 1
4               Thursday       Brisbane                 0
...                  ...            ...               ...
353646          Thursday  South Eastern                 1
353647         Wednesday  South Eastern                 1
353648            Sunday       Southern                 1
353649            Monday       Southern                 1
353650          Saturday       Southern                 1

[353651 rows x 7 columns]

In [13]:
print(crashes)

        Crash_Ref_Number        Crash_Severity Crash_Year Crash_Month  \
0                      1  Property damage only       2001     January
1                      2  Property damage only       2001     January
2                      3     Medical treatment       2001     January
3                      4       Hospitalisation       2001    February
4                      5  Property damage only       2001    February
...                  ...                   ...        ...         ...
353646            353647     Medical treatment       2020    December
353647            353648       Hospitalisation       2020    December
353648            353649       Hospitalisation       2020     January
353649            353650          Minor injury       2020       March
353650            353651       Hospitalisation       2020     October

       Crash_Day_Of_Week Loc_Police_Region  Count_Casualty_Total
0                Tuesday           Unknown                     0
1              Wednesday          Brisbane                     0
2               Thursday          Brisbane                     1
3               Thursday          Brisbane                     1
4               Thursday          Brisbane                     0
...                  ...               ...                   ...
353646          Thursday     South Eastern                     1
353647         Wednesday     South Eastern                     1
353648            Sunday          Southern                     1
353649            Monday          Southern                     1
353650          Saturday          Southern                     1

[353651 rows x 7 columns]

In [16]:
crashes_columns_renamed.to_csv("crashes.csv")

In [1]:
merge4.to_csv("crashes_merged_file.csv")

NameError: name 'merge4' is not defined